.main {
    height:500px;
    background-image:url(背景_海.png)

}

.header {
    background-color: orange;
    color: white;
    height: 100px;
    margin: 0 20px;
}

.top {
    font-size: 30px;
    padding-left: 10px;
}

.header span {
    font-size: 16px;
}

.main {
    padding: 0 50px;
}

.title {
    border-bottom: 2px solid orange;
}


.about-top span {
    color:orange
}


ul {
    list-style: none;
    padding-bottom: 100PX;

}

.likes li {
    padding-bottom: 150PX;
}

.like img {
 border-radius: 30PX;
 width: 200px;
 height: 200px;
 float: left;
}

.like-text {
    padding-left: 15PX;
}


