.div {
    background-image:url(背景_海.png)
    background-size: cover;
}

.header {
    background-color: orange;
    color: white;
    height: 100px;
}

.header span {
    font-size: small;
}

.about-top span {
    color:orange
}

.li {
    list-style: none;
}


