.main {
    height:500px;
    background-image:url(背景_海.png)

}

.header {
    background-color: orange;
    color: white;
    height: 100px;
}

.h1 {
    font-size: 30px;
}

.header span {
    font-size: 16px;
}

.main {
    padding-left: 50px;
}


.about-top span {
    color:orange
}

.about-top {
    background-color: #fffacd;
}

ul {
    list-style: none;
    padding-bottom: 100PX;

}

.likes li {
    padding-bottom: 150PX;
}

.like img {
 border-radius: 30PX;
 width: 200px;
 height: 200px;
 float: left;
}

.like-text {
    margin-left: 15PX;
}

.oik {

}

